<div class="d-flex flex-column">
    <div class="pe-1">
        <div class="p-2 w-100 d-flex flex-row justify-content-between rounded-ts rounded-te text-bg-dark" style="height: 50px;">
            <h3 class="mb-1 p-2 rounded text-bg-dark">Box (@(Game.BoxCount))</h3>
        </div>
    </div>
    <div class="me-1 mb-1 position-relative">
        <div class="game-card d-flex flex-column">
            <div class="my-1 d-flex flex-column">
                <div class="w-100">
                    Discover next cards:
                </div>
                <EditForm class="d-flex flex-row" Model="@Game" OnValidSubmit="DiscoverAction.Execute">
                    <NumberInput Class="me-1 w-50" TValue="int" @bind-Value="@Game.Config.DiscoverCount" />
                    <Button Class="my-1 p-1 w-50" Type="ButtonType.Submit" Disabled="DiscoverAction.Disabled" Color="DiscoverAction.TargetState.GetButtonColor()">@DiscoverAction.Text</Button>
                </EditForm>
            </div>
            <div class="my-1 d-flex flex-column">
                <div class="w-100">
                    Discover by ID:
                </div>
                <EditForm class="d-flex flex-row" Model="@Game" OnValidSubmit="DiscoverByIdAction.Execute">
                    <NumberInput Class="me-1 w-50" TValue="int" @bind-Value="@Game.Config.DiscoverId" />
                    <Button Class="my-1 p-1 w-50" Type="ButtonType.Submit" Disabled="DiscoverByIdAction.Disabled" Color="DiscoverByIdAction.TargetState.GetButtonColor()">@DiscoverByIdAction.Text</Button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Game Game { get; set; }

    private int _boxCardId;
    private IAction DiscoverAction => Game.Actions.GetDiscover();

    private IAction DiscoverByIdAction => Game.Actions.GetDiscoverById();
}