@if (_sortedValues != null && _sortedValues.Count > 0)
{
    @if (_showDetails)
    {
        @foreach (var card in _sortedValues)
        {
            <div class="d-flex flex-column">
                <div class="@(_sortedValues.Last() == card ? "pe-1" : "")">
                    <div class="p-2 w-100 d-flex flex-row justify-content-between @(_sortedValues.First() == card ? "rounded-ts" : "") @(_sortedValues.Last() == card ? "rounded-te" : "") @(BackgroundColor)" style="height: 50px;">
                        @if (_sortedValues.First() == card)
                        {
                            <h3 class="m-0 p-0">@(Name) (@(_sortedValues.Count))</h3>
                        }
                        @if (_sortedValues.Count > 1 && (!_showDetails || _sortedValues.First() == card) || _sortedValues.Last() == card)
                        {
                            <div class="ms-auto d-flex flex-row justify-content-end">
                                @if (IsSummary)
                                {
                                    <Button Class="mx-1 py-0" Color="ButtonColor.Light" @onclick="Sort">
                                        @(_isSorted == null ? "⇵" : _isSorted == true ? "↑" : "↓")
                                    </Button>
                                }
                                <Button Class="py-0" Color="ButtonColor.Light" @onclick="() => _showDetails = !_showDetails">
                                    @if (_showDetails)
                                    {
                                        <span>Hide</span>
                                    }
                                    else
                                    {
                                        <span>Show</span>
                                    }
                                </Button>
                            </div>
                        }
                    </div>
                </div>
                <div @ondragstart="() => Drag(card)" @ondragenter="() => Drop(card)">
                    <GameCard Game="Game" Card="card" BackgroundColor="@(Faded? BackgroundColor : "")" Disabled="Disabled" WithBadge="@(_isSorted != null)" />
                </div>
            </div>
        }
    }
    else if (Values != null && First != null)
    {
        <div class="d-flex flex-column">
            <div class="pe-1">
                <div class="p-2 w-100 d-flex flex-row justify-content-between rounded-ts rounded-te @(BackgroundColor)" style="height: 50px;">
                    <h3 class="m-0 p-0">@(Name) (@(Values.Count))</h3>
                    @if (Values.Count > 1)
                    {
                        <Button Class="py-0" Color="ButtonColor.Light" @onclick="() => _showDetails = !_showDetails">
                            @if (_showDetails)
                            {
                                <span>Hide</span>
                            }
                            else
                            {
                                <span>Show</span>
                            }
                        </Button>
                    }
                </div>
            </div>
            <GameCard Game="Game" Card="First" BackgroundColor="@(Faded? BackgroundColor : "")" Disabled="Disabled" />
        </div>
    }
}
else if (EmptyActions != null)
{
    <div class="me-1 mb-1 d-flex flex-column rounded" @ondragend=OnDragEnd>
        <div class="mb-1 p-2 w-100 d-flex flex-row justify-content-between rounded @(BackgroundColor)">
            <h3 class="m-0 p-0">@Name</h3>
        </div>
        <GameCard Game="Game" BackgroundColor="@(Faded? BackgroundColor : "")" Disabled="Disabled" Actions="EmptyActions" />
    </div>
}

@code {
    [Parameter]
    public string? Name { get; set; }

    [Parameter, EditorRequired]
    public Game Game { get; set; }

    [Parameter]
    public IReadOnlyCollection<Domain.Card>? Values { get; set; }
    private Domain.Card? First => Values?.FirstOrDefault();
    private IReadOnlyCollection<Domain.Card>? _sortedValues;

    [Parameter]
    public string? BackgroundColor { get; set; }

    [Parameter]
    public bool IsCollapsed { get; set; }
    private bool IsDraggable => !IsCollapsed;
    private bool Faded => IsCollapsed;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public IAction[]? EmptyActions { get; set; }

    [Parameter]
    public bool IsSummary { get; set; }

    private bool _showDetails;

    override protected void OnInitialized()
    {
        if (!IsCollapsed)
            _showDetails = true;

        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        if (_isSorted == null)
            _sortedValues = Values;
        else if (_isSorted == true)
            _sortedValues = Values?.Order().ToList().AsReadOnly();
        else
            _sortedValues = Values?.OrderDescending().ToList().AsReadOnly();

        base.OnParametersSet();
    }

    private Domain.Card? _dragged;
    private void Drag(Domain.Card card) =>
        _dragged = IsDraggable ? card : null;

    private void Drop(Domain.Card card) =>
        Game?.Insert(card, _dragged);

    private void OnDragEnd(DragEventArgs args) =>
        _dragged = null;

    private bool? _isSorted;
    private void Sort(MouseEventArgs args)
    {
        if (_isSorted == null)
        {
            _sortedValues = Values?.Order().ToList().AsReadOnly();
            _isSorted = true;
        }
        else if (_isSorted == true)
        {
            _sortedValues = Values?.OrderDescending().ToList().AsReadOnly();
            _isSorted = false;
        }
        else
        {
            _sortedValues = Values;
            _isSorted = null;
        }
    }
}
