@page "/"
@using System.Text

@inject Game GameContext

<PageTitle>Kingdom Legacy</PageTitle>

@if (GameContext.IsInitialized)
{
    <div class="d-flex flex-row flex-wrap">
        <div class="me-1 mb-1 d-flex flex-column rounded">
            <h3 class="mb-1 p-2 rounded text-bg-dark">Box (@(GameContext.BoxCount))</h3>
            @foreach (var action in GameContext.Actions.GetBoxActions())
            {
                <ActionButton Class="m-1 p-1" Action="@action" />
            }
            <div class="d-flex d-row">
                <NumberInput Style="width: 70px;" TValue="int" @bind-Value="@_boxCardId" />
                @foreach (var action in GameContext.Actions.GetBoxSpecialActions(_boxCardId))
                {
                    <ActionButton Class="m-1 p-1 w-100" Action="@action" />
                }
            </div>
        </div>
        <Cards Name="Discover" GameContext="@GameContext" Values="@GameContext.Discovered" BackgroundColor="text-bg-light" />
        <Cards Name="Deck" GameContext="@GameContext" Values="@GameContext.Deck" BackgroundColor="text-bg-primary" IsCollapsed="true" />
        <Cards Name="In play" GameContext="@GameContext" Values="@GameContext.InPlay" BackgroundColor="text-bg-secondary" />
        <Cards Name="Hand" GameContext="@GameContext" Values="@GameContext.Hand" BackgroundColor="text-bg-success" />
        <Cards Name="Discard" GameContext="@GameContext" Values="@GameContext.Discarded" BackgroundColor="text-bg-warning" IsCollapsed="true" />
        <Cards Name="Trash" GameContext="@GameContext" Values="@GameContext.Trashed" BackgroundColor="text-bg-danger" IsCollapsed="true" />
    </div>
    <ul class="list-group">
        @foreach (var action in GameContext.Actions.History.Reverse().Where(action => action.Description != null))
        {
            <li class="list-group-item">@action.Description</li>
        }
    </ul>
}
else
{
    <lead>What do you want to do?</lead>

    <div class="d-flex flex-column mb-3">
        <InputFile class="m-2 btn btn-primary" title="Load game" OnChange="LoadGame" />
        <Button Class="m-2" Type="ButtonType.Link" Color="ButtonColor.Primary" @onclick=NewGame>New game</Button>
    </div>
}

@code {
    private int _boxCardId;
    private bool _showDeck;
    private bool _showTrashed;

    protected override void OnInitialized()
    {
        GameContext.Subscribe(_ => StateHasChanged());
        base.OnInitialized();
    }

    private async Task LoadGame(InputFileChangeEventArgs args)
    {
        MemoryStream stream = new MemoryStream();
        await args.File.OpenReadStream().CopyToAsync(stream);
        var bytes = stream.ToArray();
        var data = Encoding.Default.GetString(bytes);
        GameContext.Load(data);
    }

    private void NewGame(MouseEventArgs args) =>
        GameContext.Initialize(Expansions.FeudalKingdom);
}